/* Reset Universal de Box-Sizing 
   (Ajuda no cálculo de largura/altura dos elementos) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonte para tags de código (opcional) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
